.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.gap-xsmr{
  gap:.5rem
}

.gap-xsm{
  gap:.5em;
}

.gap-sm{
  gap:1.5em
}

.gap-md{
  gap:3em;
}

.gap-lg{
  gap:5em;
}

.align-start{
  align-items: flex-start;
}

.app{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header{
  width: calc(100% - 4em);
  height:min-content;
  padding: 2em;
  justify-content: flex-start;
  z-index: 1;
}

.body{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 3em;
}

.header h1{
  font-size: 2.5em;
  font-weight: 400;
}

.icon-2x2{
  width: 2em;
  height: 2em;
  padding: .5em;
  cursor: pointer;
}

.icon{
  height:100%;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.loading-icon{
  animation: spin 750ms infinite linear;
}

.card{
  padding: 1.5em;
  border-radius: .75em;
}

.label-text{
  font-size: 1.5em;
}

.input-text{
  font-size: 2.5em;
  font-family: inherit;
  font-weight: 300;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .4em;
  padding-bottom: .4em;
  border-radius: 3em;
  width: 17em;
}

.input-button{
  font-size: 2.5em;
  font-weight: 400;
  font-family: inherit;
  padding-left: .8em;
  padding-right: .8em;
  padding-top: .2em;
  padding-bottom: .2em; 
  border-radius: .25em;
  border: none;
  transition: background-color 100ms ease, box-shadow 100ms ease ;
}

.input-button:active{
  transition: background-color 100ms ease, box-shadow 100ms ease ;
}

.label-invisible-text{
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

.input-invisible-text{
  font-size: 1em;
  font-weight: inherit;
  width: 100%;
  background-color: transparent;
  border:none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.input-invisible-text::placeholder{
  font-weight: 100;
  text-transform: uppercase;
  font-size: .5em;
  color:#848484;
}

.prefix-invisible-text{
  font-size: 1em;
  font-weight: inherit ;
  width: min-content;
}

.invisible-input{
  width: 100%;
}

.form-title{
  font-size: 3em;
  font-weight: 500;
}

.menu{
  position:absolute;
  left:-36em;
  top:0;
  z-index: 2;
  width: 31em;
  height: calc(100% - 4em);
  padding: 2em;
  transition: left 1s cubic-bezier(.28,.41,.09,.95);
}

.menu-title{
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  width:12ch;

}

.nav{
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  
}

.nav-link{
  font-size: 2.75em;
  font-weight: 400;
  text-decoration: none;
}

.collapse{
  width: fit-content;
}

.collapse-title{
  font-size: 2.75em;
  font-weight: 400;
  cursor:pointer;
}

.content-collapsed{
  width:calc(100% - 2em);
  overflow: hidden;
  transition: max-height .5s ease;
  padding-left: 2em;
  padding-top: .5em ;
  padding-bottom: .5em;
}

.collapsed-open > *{
  opacity: 1;
  transition: opacity .5s ease;
}
.collapsed-close > *{
  opacity: 0;
  transition: opacity .5s ease;
}

.diamond-button{
  width: 4em;
  height: 4em;
  padding:1em;
  transform: rotate(45deg);
  transition: background-color 100ms ease, box-shadow 100ms ease ;
  border: none;
}

.diamond-button:active{
  transition: background-color 100ms ease, box-shadow 100ms ease ;
}

.theme-icon{
  flex-grow: 1;
  justify-content: flex-end;
}

.cost{
  font-size: 4.5em;
  font-weight: 500;
  width: 9ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:clip;
}

.bought{
  font-size: 2.75em;
  font-weight: 500;
  width: 12ch;
}

.usd{
  font-size: 2.25em;
  font-weight: 300;
  color: #848484;
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em;
  justify-content: flex-start;
  z-index: 1;
}

.footer > *{
  flex-basis: 100%;
}

.label-score{
  font-size: 1.75em;
  font-weight: 300;
  text-transform: uppercase;
}

.total-score{
  font-size: 3em;
  font-weight: 500;
}

.purchase-button{
  margin-bottom: 8em;
}

.purchase-card{
  user-select:none;
  pointer-events:fill;
  cursor:auto;
}

.pan-card{
  cursor: move;
}

.danger-lines{
  position: absolute;
  top:0;
  height: 100vh;
  width: 80vw;
  user-select: none;
  pointer-events: none;
  z-index: 3;
  opacity: .8;
}

.trash-zone{
  position: absolute;
  top:0;
  height: 100vh;
  width: 10vw;
  /* user-select: none;
  pointer-events: none; */
  z-index: 3;
  background-color: #0008;
  opacity: .8;
}

.trash-icon{
  transition: opacity 250ms ease;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  pointer-events: none;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media (max-width: 436px) {
  .card,footer{
    font-size: .8em;
  }
}

/* @media (min-width: 2048px) {
  .app{
    font-size: 1.2em;
  }
} */